@model HealthyGrove.Models.NonInvasive

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h5>
        @Html.ActionLink("Home", "Index", "Home")
        &nbsp;/&nbsp;
        @Html.ActionLink("Find Non Invasive Plants", "Index")
        &nbsp;/&nbsp;
        @Html.DisplayFor(model => model.ScientificName)
    </h5>
    <h2 class="text-center">Details of @Html.DisplayFor(model => model.ScientificName)</h2>
    <hr />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 card-container">
            <div class="card-find">

                <div class="thumbnail">
                    <div class="img-container" style="position: relative">
                        <img src=@Html.Raw(@Html.DisplayFor(model => model.Image)) style="height:250px;" class="img-fluid text-center">
                    </div>
                    <div class="caption justify-content-center text-center">
                        <h2>@Html.DisplayFor(model => model.CommonName)</h2>
                        <h3 class="text-muted"><em>@Html.DisplayFor(model => model.ScientificName)</em></h3>
                        <hr />
                        <div>
                            <a href="#" class="mybtn btn btn-success" onclick="savePlant(@Html.DisplayFor(model => model.NonInvasiveId))">Save this plant to planner</a>

                        </div>
                        &nbsp;
                        <div>
                            @Html.ActionLink("Garden Planner", "Planner", "NonInvasives", new { @class = "mybtn btn btn-success" })

                        </div>
                        &nbsp;
                        <div>
                            @Html.ActionLink("Interested? Find a nursery near you!", "FindNursery", "Home", null, new { @class = "mybtn btn btn-success" })
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Tile here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/plantType.png" class="img-circle" />
                        <div class="title">Plant Type</div>
                        <div class="value">@Html.DisplayFor(model => model.PlantType)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/native.png" class="img-circle" />
                        <div class="title">Native to Victoria?</div>
                        <div class="value">@Html.DisplayFor(model => model.Native)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/height.png" class="img-circle" />
                        <div class="title">Height Ranges</div>
                        <div class="value">@Html.DisplayFor(model => model.HeightRanges)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/spreadRanges.png" class="img-circle" />
                        <div class="title">Spread Ranges</div>
                        <div class="value">@Html.DisplayFor(model => model.SpreadRanges)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/flower.png" class="img-circle" />
                        <div class="title">Flower Colour</div>
                        <div class="value">@Html.DisplayFor(model => model.FlowerColour)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/foliage.png" class="img-circle" />
                        <div class="title">Foliage Colour</div>
                        <div class="value">@Html.DisplayFor(model => model.FoliageColour)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/tree.png" class="img-circle" />
                        <div class="title">Abcission</div>
                        <div class="value">@Html.DisplayFor(model => model.Abcission)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/soil.png" class="img-circle" />
                        <div class="title">Soil Type</div>
                        <div class="value">@Html.DisplayFor(model => model.SoilType)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/sunlight.png" class="img-circle" />
                        <div class="title">Light Needs</div>
                        <div class="value">@Html.DisplayFor(model => model.LightNeeds)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/maintenance.png" class="img-circle" />
                        <div class="title">Maintenance</div>
                        <div class="value">@Html.DisplayFor(model => model.Maintenance)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/frostTolerance.png" class="img-circle" />
                        <div class="title">Frost Tolerance</div>
                        <div class="value">@Html.DisplayFor(model => model.FrostTolerance)</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!-- Tile 2 here -->
                    <div class="card-tile text-center">
                        <img src="~/Image/Icons/climate.png" class="img-circle" />
                        <div class="title">Climate</div>
                        <div class="value">@Html.DisplayFor(model => model.ClimateZones)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function savePlant(id) {

        $.ajax(
            {
                url: '/NonInvasives/Save',
                type: 'GET',
                data: { id: id },
                async: true,
                success: function (result) {
                    alert("Plant saved!");

                },
                error: function () {
                    alert("error");
                }
            }).done(function (result) {

            });

    }
</script>
