@model IEnumerable<HealthyGrove.Models.NonInvasive>
@using HealthyGrove.Models;
@{
    ViewBag.Title = "Find Non Invasive Plants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main">
    <div class="container">
        <h5>
            @Html.ActionLink("Home", "Index", "Home")
            &nbsp;/&nbsp;
            @ViewBag.Title
        </h5>
        <h2 class="text-center">
            Non-Invasive Plant Search

        </h2>
        <hr />
        <!-- Filters -->

    </div>

    <div class="container text-center" style="padding-left:100px; padding-right:100px">
        <h4>
            Looking for ‘good’ garden plants? Check out for non-invasive plants that are suitable for your garden based on your personal preference
        </h4>
        <p>Tip: Click the <i class="fas fa-question" data-toggle="tooltip"></i> icon to get more information about plant feature details.</p>
    </div>


    <div class="container" style="margin-top:40px">
        <div class="container-fluid" id="form">
            <div class="row">
                <div class="form-horizontal col-md-12" id="formNonInvasive">
                    <div class="form-group">
                        <label class="control-label">
                            Plant Type&nbsp;
                            <a href="@Url.Action("FAQ", "Home")#type">
                                <i class="fas fa-question" data-toggle="tooltip" data-placement="right" title="Select the type of the plant you are looking for in your garden. Select All if not sure.  Click for more information.">
                                </i>
                            </a>
                        </label>
                        <div>
                            <select class="form-control" id="plantType">
                                <option>All</option>
                                @foreach (var item in Model.OrderBy(x => x.PlantType).GroupBy(x => x.PlantType).Select(y => y.First()).ToList())
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.PlantType)">@Html.DisplayFor(modelItem => item.PlantType)</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Maintenance&nbsp;
                            <a href="@Url.Action("FAQ", "Home")#main">
                                <i class="fas fa-question" data-toggle="tooltip" data-placement="right" title="Select the level of maintenance of the plants. Select All if not sure.  Click for more information."></i>
                            </a>
                        </label>
                        <div>
                            <select class="form-control" id="maintenance">
                                <option>All</option>
                                @foreach (var item in Model.OrderBy(x => x.Maintenance).GroupBy(x => x.Maintenance).Select(y => y.First()).ToList())
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.Maintenance)">@Html.DisplayFor(modelItem => item.Maintenance)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Foliage Colour&nbsp;
                            <a href="@Url.Action("FAQ", "Home")#leaf">
                                <i class="fas fa-question" data-toggle="tooltip" data-placement="right" title="Select the leaf colour of the plant you are looking for in your garden. Select All if not sure. Click for more information."></i>
                            </a>
                        </label>
                        <div>
                            <select class="form-control" id="foliageColour">
                                <option>All</option>
                                @foreach (var item in Model.OrderBy(x => x.FoliageColour).GroupBy(x => x.FoliageColour).Select(y => y.First()).ToList())
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.FoliageColour)">@Html.DisplayFor(modelItem => item.FoliageColour)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4">
                            <button type="button" id="submit" class="btn btn-success" onclick="submit()">Find NonInvasive Plants</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid animate-bottom" id="result" style="display:none">

        <div style="margin-left:50px; margin-right:50px">
            
                <div>&nbsp;</div>
                <h2>View as: </h2>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="view" value="grid" checked> Grid
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="view" value="table"> Table
                    </label>
                </div>
                <div>&nbsp;</div>

            

                <div class="row text-center animate-bottom" id="grid">

                    @foreach (var item in Model)
                    {
                        <div class="col-sm-12 col-md-4 card-container" data-plantType="@Html.Raw(item.PlantType)" data-foliageColour="@Html.Raw(item.FoliageColour)" data-maintenance="@Html.Raw(item.Maintenance)">
                            <div class="card-find">

                                <div class="thumbnail">
                                    <div class="img-container" style="position: relative">
                                        <img src="@Html.Raw(item.Image)" style="height:250px;" class="img-fluid">
                                        <a href="#" class="myicon2" onclick="savePlant(@Html.Raw(item.NonInvasiveId))"><i class="fas fa-heart"></i></a>
                                    </div>
                                    <div class="caption">
                                        <div style="height:100px;">
                                            <h3>@Html.DisplayFor(modelItem => item.CommonName)</h3>
                                            <h4 class="text-muted"><em>@Html.DisplayFor(modelItem => item.ScientificName)</em></h4>

                                        </div>
                                        <hr />
                                        <p>
                                            <a href="@Url.Action("Details", new { id=item.NonInvasiveId })" class="btn btn-primary">Show Details <i class="glyphicon glyphicon-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-12 text-center" id="noresult" style="display:none; margin-top:10px"><p><strong>No Results!</strong></p></div>
                </div>
            


            <div class="container-fluid animate-bottom" id="table" style="display:none">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ScientificName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CommonName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PlantType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Maintenance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FoliageColour)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScientificName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommonName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlantType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Maintenance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FoliageColour)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.NonInvasiveId })
                                    &nbsp;
                                    <a href="#" onclick="savePlant(@Html.Raw(item.NonInvasiveId))">Save</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <button class="btn" href="#" id="saved" onclick="openNav()">Saved Plants</button>
    </div>
</div>

<div id="mySidebar" class="text-center sidebar">
    <div class="head">
        <h4 class="head">Saved Plants</h4>
        <a href="javascript:void(0)" class="myicon" onclick="closeNav()"><i class="fas fa-times"></i></a>
    </div>
    <div style="margin-top: 32px">
        <a href="@Url.Action("Planner", "NonInvasives")" class="mybtn btn btn-success">Go To Garden Planner</a>
    </div>
    <div id="savedplants">
        <div class="col-12 text-center" id="noresult" style="display:none; margin-top:10px"><p><strong>No plant in this list!</strong></p></div>
        @foreach (NonInvasive item in (List<NonInvasive>)Session["nonInvasivesCollection"] ?? Enumerable.Empty<NonInvasive>())
        {
            <div class="col-sm-12 plant-container">
                <div class="card-find">

                    <div class="thumbnail">
                        <div class="img-container" style="position: relative">
                            <img src="@Html.Raw(item.Image)" style="height:250px;" class="img-fluid text-center">
                            <a href="#" class="myicon2" onclick="removePlant(@Html.Raw(item.NonInvasiveId))"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="caption">
                            <div style="height:80px;">
                                <h3>@Html.DisplayFor(modelItem => item.CommonName)</h3>
                                <h4 class="text-muted"><em>@Html.DisplayFor(modelItem => item.ScientificName)</em></h4>
                                </div>
                                <hr />
                                <a href="@Url.Action("Details", new { id=item.NonInvasiveId })" class="btn btn-primary">Show Details <i class="glyphicon glyphicon-chevron-right"></i></a>
                            </div>
                        </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.min.js")
    <script>
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var typeselected = $("#plantType").val();
                var mainselected = $("#maintenance").val();
                var foliageselected = $("#foliageColour").val();
                var type = data[2];
                var main = data[3];
                var foliage = data[4];
                var mtype = false; //true if type matches.
                var mmain = false;
                var mfoliage = false;

                if (typeselected == 'All' || typeselected == type) {
                    mtype = true;
                }
                if (mainselected == 'All' || mainselected == main) {
                    mmain = true;
                }
                if (foliageselected == 'All' || foliageselected == foliage) {
                    mfoliage = true;
                }

                //console.log(mtype, mmain, mleaf);

                if (mtype && mmain && mfoliage) {
                    return true;
                }

                return false;
            }
        )
        $(document).ready(function () {
            var table = $('.table').DataTable();
            $("#submit").click(function () {
                var typeselected = $("#plantType").val();
                var mainselected = $("#maintenance").val();
                var foliageselected = $("#foliageColour").val();

                $(".card-container").show();
                $("#grid > #noresult").hide();
                //$("#result").show();

                if (typeselected != 'All') {
                    $('.card-container[data-plantType!="' + typeselected + '"]').hide();
                }

                if (mainselected != 'All') {
                    $('.card-container[data-maintenance!="' + mainselected + '"]').hide();
                }

                if (foliageselected != 'All') {
                    $('.card-container[data-foliageColour!="' + foliageselected + '"]').hide();
                }

                table.draw();

                //check if all elements in .card-container is invisible
                var allHidden = true;
                $(".card-container").each(function () {
                    if ($(this).is(':visible')) {
                        allHidden = false;
                        return false;
                    }
                });

                if (allHidden) {
                    $("#grid > #noresult").show();
                }


            });

            $("input[name='view']").on('change', function () {
                if ($(this).val() == 'grid') {
                    $("#table").hide();
                    $("#grid").show();
                }
                else {
                    $("#table").show();
                    $("#grid").hide();
                }
            });

            changeNav();
        });

        function submit() {
            var x = document.getElementById("result");
            x.style.display = "block";
        };


    </script>
}

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "350px";
        document.getElementById("main").style.marginRight = "350px";
        document.getElementById("mySidenav").style.display = "none";
        changeNav();
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginRight = "0";
        document.getElementById("mySidenav").style.display = "block";
    }

    function changeNav() {
        //check if all elements .plant-container is existed
        if ($(".plant-container").length == 0) {
            $("#savedplants > #noresult").show();
        }
        else {
            $("#savedplants > #noresult").hide();
        }
        console.log($(".plant-container").length);
    }

    function savePlant(id) {

        $.ajax(
            {
                url: '/NonInvasives/Save',
                type: 'GET',
                data: { id: id },
                async: true,
                success: function (result) {
                    $("#mySidebar").load(window.location.href + " #mySidebar >*", openNav());
                    
                },
                error: function () {
                    alert("error");
                }
            }).done(function (result) {
                
            });
        
    }

    function removePlant(id) {
        $.ajax(
            {
                url: '/NonInvasives/Remove',
                type: 'GET',
                data: { id: id },
                async: true,
                success: function (result) {
                    $("#mySidebar").load(window.location.href + " #mySidebar >*");
                    if ($(".plant-container").length == 1) {
                        closeNav()
                    }
                },
                error: function () {
                    alert("error");
                }
            }).done(function (result) {
                
            });
        
    }
</script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css"
      rel="stylesheet" />
