@model IEnumerable<HealthyGrove.Models.NonInvasive>
@using HealthyGrove.Models;
@{
    ViewBag.Title = "Garden Planner";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <h5>
        @Html.ActionLink("Home", "Index", "Home")
        &nbsp;/&nbsp;
        @Html.ActionLink("Find Non Invasive Plants", "Index")
        &nbsp;/&nbsp;
        @ViewBag.Title
    </h5>
    <h2 class="text-center">Garden Planner</h2>
    <hr />
</div>

<div class="container">
    <!--<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ScientificName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlantType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maintenance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoliageColour)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (NonInvasive item in (List<NonInvasive>)Session["nonInvasivesCollection"])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScientificName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommonName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlantType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maintenance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoliageColour)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.NonInvasiveId })
                        &nbsp;
                        <a href="@Url.Action("Remove", "NonInvasives", new { id = item.NonInvasiveId })">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>-->

    <div class="scrollmenu">
        @foreach (NonInvasive item in (List<NonInvasive>)Session["nonInvasivesCollection"])
        {
        <div class="col-sm-12 col-md-4 card-container">
            <div class="card-find">

                <div class="thumbnail">
                    <div class="img-container"><img src="@Html.Raw(item.Image)" style="margin:auto;" class="text-center"></div>
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.CommonName)</h3>
                        <h4 class="text-muted"><em>@Html.DisplayFor(modelItem => item.ScientificName)</em></h4>
                        <hr />
                        <p>
                            <a href="@Url.Action("Details", new { id=item.NonInvasiveId })" class="btn btn-primary">Show Details <i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>