@{
    ViewBag.Title = "Remove Weeds";
}

<div class="container">
    <h5>
        @Html.ActionLink("Home", "Index", "Home")
        &nbsp;/&nbsp;
        @Html.ActionLink("Find Invasive Plants", "Index")
        &nbsp;/&nbsp;
        @ViewBag.Title
    </h5>
    <h3 class="text-center">@ViewBag.Title</h3>
    <hr />
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                Follow the steps to successfully remove the invasive plants and weeds to grow your garden healthy
            </div>
        </div>
    </div>
    <div class="row step" id="step1">
        <div class="col-sm-4">
            <img src="~/Image/Invasives/Steps/step1.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h5><strong>Step 1: Choose the right time for the task</strong></h5>
            <p>
                It would be good when you choose to pull the weeds right after the rain. It’s makes overall work easier. A good would be a day after the Rain to pull weeds.
            </p>
            <button type="button" id="toStep2" class="btn btn-primary pull-right" style="margin-top:40px;" onclick=bnk1()>Click Here for step 2</button>
        </div>
    </div>
    <div class="row step" id="step2" style="display:none">
        <div class="col-sm-4">
            <img src="~/Image/Invasives/Steps/step2.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h5><strong>Step 2: Pick up gardening gloves and  weeding tools.</strong></h5>
            <ul>
                <li>Look for gardening gloves which has wrist closure such as Velcro band that can be tightened around your wrist.</li>
                <li>If you are weeding in a tightly planted area and will be working on your knees, you will need a short handled weeding tool.</li>
                <li>If you are weeding a large area of the garden and plan to complete the weeding standing up, you will need a long handled weeding tool.</li>
            </ul>
            <p><strong>Tips:</strong></p>
            <ul>
                <li>If you're weeding abrasive or pointy weeds, like thistle, get gloves made of leather or another thick material.</li>
                <li>When buying new weeding tool, make sure examine the sharpness of the tool.</li>
            </ul>
            <button type="button" id="toStep3" class="btn btn-primary pull-right" onclick=bnk2()>Click Here for step 3</button>
        </div>
    </div>
    <div class="row step" id="step3" style="display:none">
        <div class="col-sm-4"><img src="~/Image/Invasives/Steps/step3.jpg" class="img-fluid" /></div>
        <div class="col-sm-8">
            <h5><strong>Step 3: Look for any garden hazard and remove them. Then identify, loosen and remove weeds.</strong></h5>
            <p>
                Remove garden hazards and Identify weeds to remove</p>
            <ul><li>Look out  If there are hoses left lying about, put them aside so you don't trip on them while weeding because they can be dangerous and can hurt you.</li><li>Walk around the garden and look for are that need to be weeded to make sure that you know what weeds that needs to be removed.</li></ul>
            <strong>Tips</strong>
            <ul>
                <li>
                    Keep a first aid box with your self if you get a scrape or cut while weeding.
                </li>
                <li>
                    Look for weeds that can be edible so you can use them for salad and for stir fries.
                </li>
            </ul>
            <button type="button" id="toStep4" class="btn btn-primary pull-right" onclick=bnk3()>Click Here for step 4</button>
        </div>
    </div>
    <div class="row step" id="step4" style="display:none">
        <div class="col-sm-4">
            <img src="~/Image/Invasives/Steps/step4.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h5><strong>Step 4: Kneel down or stand above the weed you want to remove. Loosen the soil where the stem of the weed meets the top of the garden bed.</strong></h5>
            <ul>
                <li>When using short handled weeding tool your hands, kneel in the bed and get ready to pull up the weed.</li>
                <li>When using a long handled weeding tool, you can position yourself standing directly above the weed you want to remove.</li>
                <li>When working on wet soil, it would be easy to loosen the soil or if the soil is hard you would need put little more efforts.</li>
                <li>Stab at the soil with your weeding tool and break up large clumps of soil.</li>
                <li>Gradually break up the soil around the so you can access the taproot with your hands or weeding tool.</li>
            </ul>
            <strong>Tip: </strong> A cushion or knee pads would be helpful when you kneel down on concrete or rocks.
            <button type="button" id="toStep5" class="btn btn-primary pull-right" style="display:block;" onclick=bnk4()>Click Here for step 5</button>
        </div>
    </div>
    <div class="row step" id="step5" style="display:none">
        <div class="col-sm-4">
            <img src="~/Image/Invasives/Steps/step5.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h5>
                <strong>Step 5: Grab the taproot or main root of the weed with your hand or weeding tool. Pull up the weed.</strong>
            </h5>
            <ul>
                <li>Grab the entire root as much as possible for weeds other there is high chance that they grow again.</li>
                <li>
                    Try to pull the whole weed out of the garden in one piece by pulling straight up rather than at an angle, so you don't have to repeat this step. Repeat the process until you have a weed-free garden.
                </li>
            </ul>
            <strong>Tip: </strong>Using weeding tool is always helpful to remove weeds deep inside.
            <button type="button" id="toStep6" class="btn btn-primary pull-right" style="display:block;" onclick=bnk5()>Click Here for step 6</button>
        </div>
    </div>
    <div class="row step" id="step6" style="display:none">
        <div class="col-sm-4">
            <img src="~/Image/Invasives/Steps/step6.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h5><strong>Step 6: Collect the weeds and dispose of them.</strong></h5>
            <ul>
                <li>
                    Collect the weeds by placing them in a black plastic bag, sealing it and 'baking it' in the sun until destroyed.
                </li>
                <li>
                    Don’t dumps these weeds in garden bin as this can likely cause to spread weed.
                </li>
                <li>
                    You can call local council and drop the sealed bag of the weeds to the advised location by the council.
                </li>
            </ul>
            <button type="button" id="final" class="btn btn-primary pull-right" onclick=bnk6()>This is the final step</button>
            <div>&nbsp;</div>
            <div id="finalstep" style="display:none">@Html.ActionLink("Learn how to dispose the green waste", "Disposal", "Invasives", new { @class = "btn btn-success" })</div>
        </div>
    </div>
</div>

<style>
    img {
        width: 400px;
    }
    .navbar-header img{
        width:auto;
    }
</style>

<script>
    function bnk1() {
        var x = document.getElementById("step2");
        var y = document.getElementById("toStep2");
        x.style.display = "block";
        y.innerHTML = "Step Complete!";
        y.className = "btn btn-success pull-right"
    }
    function bnk2() {
        var x = document.getElementById("step3");
        var y = document.getElementById("toStep3");
        x.style.display = "block";
        y.innerHTML = "Step Complete!";
        y.className = "btn btn-success pull-right"
    }
    function bnk3() {
        var x = document.getElementById("step4");
        var y = document.getElementById("toStep4");
        x.style.display = "block";
        y.innerHTML = "Step Complete!";
        y.className = "btn btn-success pull-right"
    }
    function bnk4() {
        var x = document.getElementById("step5");
        var y = document.getElementById("toStep5");
        x.style.display = "block";
        y.innerHTML = "Step Complete!";
        y.className = "btn btn-success pull-right"
    }
    function bnk5() {
        var x = document.getElementById("step6");
        var y = document.getElementById("toStep6");
        x.style.display = "block";
        y.innerHTML = "Step Complete!";
        y.className = "btn btn-success pull-right"
    }
    function bnk6() {
        var x = document.getElementById("finalstep");
        var y = document.getElementById("final");
        x.style.display = "block"
        y.innerHTML = "Step Complete!";
        y.className = "btn btn-success pull-right"
    }
</script>